<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
<body>
    <div class='head_page'>
        <a class='travel' href='/blog'>All Blog Posts</a>
        <a class='travel' href='/newpost'>New Blog Post</a>
    </div>
    {% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
    {% for category, message in messages %}
        <li class={{category}}>{{message}}</li>
    {% endfor %}
    </ul>
{% endwith%}
    {% block content %}
    {% endblock %}

</body>
</html>